//Assets generales (Contienen elementos de estilos como sombras, colores o elementos como menus y tarjetas)
//@use "assets/_colors.scss";
@use "assets/_shadows.scss";
@use "assets/_borderRadius.scss";
@use "assets/_lateralMenu.scss";
@use "assets/_displayNone.scss";
@use "assets/_wavesEffect.scss";
@use "assets/_loader.scss";
@use "assets/_cards.scss";
@use "assets/_linkNeutral.scss";
@use "assets/_textStyles.scss";
@use "assets/_formulaStyle.scss";
@use "assets/_modals.scss";
@use "assets/_button.scss";
@use "assets/_tables.scss";
@use "assets/_buscadorEmpresa.scss";

//Pages
@use "pages/_index.scss";
@use "pages/_informacion.scss";
@use "pages/_configuracion.scss";
@use "pages/_tabsInfo.scss";
@use "pages/_empresas.scss";
@use "pages/_rankings.scss";
@use "pages/_contact.scss";


//Pagina default
* {
    box-sizing: border-box !important;
    transition: all ease .2s;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0 !important;
    padding: 0 !important;
}

html {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--cl-green-2);
}

::selection {
    background: #d3d3d3;
    color: #000000;
}