//Assets generales (Contienen elementos de estilos como sombras, colores o elementos como menus y tarjetas)
@use "assets/_colors.scss";
@use "assets/_shadows.scss";
@use "assets/_borderRadius.scss";
@use "assets/_lateralMenu.scss";
@use "assets/_displayNone.scss";
@use "assets/_wavesEffect.scss";

//Pages
@use "pages/_index.scss";

//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Pagina default
* {
    box-sizing: border-box !important;
    transition: all ease .2s;
}

body{
    margin: 0 !important;
    padding: 0 !important;
}

html {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--cl-green-2);
}

::selection {
    background: #d3d3d3;
    color: #000000;
}