.btn {
    padding: 10px 20px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: var(--fuente_text) !important;

    width: 200px;

    margin-bottom: 10px;

    background-color: var(--clw);
    box-shadow: 5px 5px 0 var(--cl-grey-2);
    cursor: pointer;

    i {
        padding-right: 0.3em;
    }

    &:hover{
        background-color: var(--cl-grey-1);
        box-shadow: 7px 7px 0 var(--cl-grey-3);
    }
}

.btnLink{
    width: 80px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;


    color: var(--clgreen-tx);
}

.btnHelp{
    width: 110px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;


    
    position: fixed;
    bottom: 10px;
    right: 20px;
    
    color: var(--clw-tx);
    background-color: var(--cl-green-3);
    box-shadow: 5px 5px 0 var(--cl-green-4);

    &:hover{
        background-color: var(--cl-green-5);
        box-shadow: 7px 7px 0 var(--cl-green-4);
    }

    i{
        font-size: 20px;
    }
}

.buttonBrwoser_empresas{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: var(--cl-green-4);
    color: var(--clw-tx);
    font-family: var(--fuente_text) !important;

    display: flex;
    justify-content: center;
    align-items: center;
}