.btn {
    padding: 10px 20px;
    border-radius: 0.5rem;
    text-decoration: none;

    width: 200px;

    margin-bottom: 10px;

    background-color: var(--clw);
    box-shadow: 5px 5px 0 var(--cl-grey-2);
    cursor: pointer;

    i {
        padding-right: 0.3em;
    }

    &:hover{
        background-color: var(--cl-grey-1);
        box-shadow: 7px 7px 0 var(--cl-grey-3);
    }
}

.buttonBrwoser_empresas{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: var(--cl-green-4);
    color: var(--clw-tx);

    display: flex;
    justify-content: center;
    align-items: center;
}