.btn {
    padding: 10px 20px;
    border-radius: 0.5rem;
    text-decoration: none;

    width: 200px;

    margin-bottom: 10px;

    background-color: var(--clw);
    box-shadow: 5px 5px 0 var(--cl-grey-2);
    cursor: pointer;

    i {
        padding-right: 0.3em;
    }

    &:hover{
        background-color: var(--cl-grey-1);
        box-shadow: 7px 7px 0 var(--cl-grey-3);
    }
}
