.menu{
    background-color: var(--cl-green-3);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 58vh auto;
}

@media screen and (max-width: 1000px) {
    .menu{
        border-radius: 0 !important;
    }
}


/*Iconos contenedores*/
.mainContainer-menu-icon,
.mainContainer-menu-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all .2s ease;
}

.mainContainer-menu-icon{
    padding: 30px 10px;

    .icon{
        width: 60%;
    }
}

.iconSchoolMini{
    width: 100% !important;
}

@media screen and (max-width: 1000px) {
    .mainContainer-menu-icon{
        padding: 10px !important;
    
        .icon{
            width: 100%;
        }
    }
    
    .iconSchoolMini{
        padding: 0 !important;
        width: 110% !important;
    }
}

.mainContainer-menu-option{
    background-color: var(--cl-green-4);

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;

    margin: 0 0 15px 0;
    width: 90%;

    transition: all .2s ease-in-out;

    @media screen and (max-width: 1000px) {
        &{
            margin: 0 0 10px 0;
        }
    }

    cursor: pointer;

    &:hover{
        background-color: var(--cl-green-5);
    }

    i,p{
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--clw-tx);
    }
    
    i{
        font-size: 20px;
        margin: 15px 15px 15px 15px;
    }
    
    p{
        font-family: var(--fuente_title);
        margin: 15px 15px 15px 10px;
    }

    @media screen and (max-width: 1000px) {
        i{
            font-size: 16px;
            margin: 15px;
        }
        
        p{
            font-family: var(--fuente_title);
            margin: 15px 15px 15px 10px;
        }
    }
}

.mainContainer-menu-option-close{
    width: 80% !important;
    margin: 0 5px 10px 5px !important;
    grid-template-columns: 1fr 0fr !important;
}

.mainContainer-menu-close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    transition: all .2s ease;

    margin: 0 0 20px 0;

    i{
        background-color: var(--cl-green-5);
        color: var(--clw-tx);
        width: 90%;
        padding: 20px;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        &:hover{
            background-color: var(--cl-green-6);
        }
    }
}

@media screen and (max-width: 1000px) {
    
    .mainContainer-menu-close{
        display: none;
    }
    
}

/*Active button lateral menu*/
.active-button{
    background-color: var(--cl-grey-2);

    i,p{
        color: var(--clgreen-tx);
    }

    &:hover{
        background-color: var(--cl-grey-5);

        i,p{
            color: var(--clg-tx);
        }
    }
}


.extra-button{
    background-color: var(--cl-green-5);

    i,p{
        color: var(--clw-tx);
    }

    &:hover{
        background-color: var(--cl-green-6);

        i,p{
            color: var(--clw-tx);
        }
    }
}

/*Link para el menu lateral*/
.linkOpt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
