/* Estilo para la tabla principal */
table{
    width: 800px;
}

table.genTbl {
    width: 800px;
    border-collapse: collapse;
}

@media screen and (max-width: 1000px) {

    table{
        width: 800px;
    }

    table.genTbl {
        width: 800px !important;
        border-collapse: collapse;
    }

}

.income_statement,
.balance_sheet{
    width: 800px;
}


//Ajuste de las celdas para las tablas
.openTr, .child, tr{
    width: 800px;
    display: grid;
    grid-template-columns: 3fr .5fr .5fr .5fr .5fr;
    grid-template-rows: auto;
}

#header_row{
    width: 800px;
    display: grid;
    grid-template-columns: 3fr .5fr .5fr .5fr .5fr;
    grid-template-rows: auto;
}

/* Estilo para los encabezados de columna */
th {
    margin-top: 10px;
    background-color: var(--cl-green-4) !important;
    color: var(--clw-tx);
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 0 0;
}

/* Estilo para las celdas de datos */
td {
    padding: 8px;
}

/* Estilo para las celdas de datos con fondo gris claro */
tbody td {
    background-color: var(--clw);
    color: var(--clbk-tx);
}

/* Estilo para las filas alternas en tono más claro */
tbody tr:nth-child(odd) td {
    background-color: var(--cl-grey-1);
}

/* Estilo para el encabezado de fila */
#header_row th {
    background-color: var(--cl-grey-2);
}

/* Estilo para las filas desplegables (con subtablas) */
tr.pointer {
    cursor: pointer;
}

/* Estilo para las celdas internas de las subtablas */
.innerTD {
    padding: 0;
}

/* Estilo para las subtablas */
table.reportTbl {
    border-collapse: collapse;
    width: 800px !important;
}

/* Estilo para las filas de las subtablas */
.genTbl.reportTbl tr {
    border-bottom: 1px solid var(--cl-grey-3);
}

/* Estilo para el fondo gris claro de las subtablas */
.genTbl.reportTbl tr:nth-child(odd) {
    background-color: var(--cl-grey-1);
}

/* Estilo para el fondo gris más claro de las subtablas */
.genTbl.reportTbl tr:nth-child(even) {
    background-color: var(--cl-grey-2);
}