/*Estilos para los textos de las cards de información*/
.cardTitle{
    font-size: 33px;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: var(--fuente_title);
    font-weight: 600;

    background-color: var(--cl-grey-3);
    color: var(--clg-tx);
    font-family: var(--fuente_title);
}

.cardText{
    font-size: 17px;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    font-weight: 500;

    color: var(--clbk-tx);
    
    p{
        width: 67vw;
        margin: 5px 0;
        text-align: justify;
        font-family: var(--fuente_text) !important;
        font-size: 16px;
    }
}

.tableTitle{
    font-size: 25px;

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 25px;

    font-family: var(--fuente_title);
    font-weight: 600;

    color: var(--cl-green-4);
    background-color: var(--cl-grey-2);

    border-radius: 10px;
}

.importantNote{
    border-left: 4px var(--cl-green-4) solid;
    background-color: var(--cl-grey-3);

    width: 67vw;

    padding: 10px 20px;

    font-family: var(--fuente_text);
}

.textMessage{
    font-size: 22px;

    margin: 0;
    padding: 20px;

    font-family: var(--fuente_text);
    font-weight: 700;

    color: var(--clbk-tx);
}

.fontTextCard{
    color: var(--clgreen-tx) !important;
    background-color: var(--cl-grey-2);
}