:root{
    /*Colores fondo*/
    --clw: #FFF;
    --clbk: rgb(38, 39, 41);

    --cl-grey-1: rgb(240, 240, 240);
    --cl-grey-2: rgb(230, 230, 230);
    --cl-grey-3: rgb(215, 215, 215);
    --cl-grey-4: rgb(200, 200, 200);
    --cl-grey-5: rgb(185, 185, 185);
    --cl-grey-6: rgb(170, 170, 170);
    --cl-grey-7: rgb(155, 155, 155);

    --cl-green-0: #E3D1F2ff;
    --cl-green-1: rgb(201, 151, 221);
    --cl-green-2: rgb(106, 21, 151);
    --cl-green-3: rgb(79, 10, 122);
    --cl-green-4: rgb(54, 10, 71);
    --cl-green-5: rgb(38, 12, 56);
    --cl-green-6: rgb(37, 5, 59);

    /*Textos*/
    --clw-tx: rgb(247, 247, 247);
    --clbk-tx: rgb(40, 40, 40);
    --clg-tx: rgb(70, 70, 70);
    --clgreen-tx: rgb(89, 11, 119);
}