:root {
    /* Colores fondo */
    --clw: rgb(38, 39, 41);
    --clbk: #FFF;
  
    --cl-grey-1: rgb(55, 55, 55);
    --cl-grey-2: rgb(65, 65, 65);
    --cl-grey-3: rgb(80, 80, 80);
    --cl-grey-4: rgb(95, 95, 95);
    --cl-grey-5: rgb(110, 110, 110);
    --cl-grey-6: rgb(125, 125, 125);
    --cl-grey-7: rgb(140, 140, 140);
  
    --cl-green-0: rgb(150, 150, 150);
    --cl-green-1: rgb(130, 130, 130);
    --cl-green-2: rgb(110, 110, 110);
    --cl-green-3: rgb(90, 90, 90);
    --cl-green-4: rgb(70, 70, 70);
    --cl-green-5: rgb(50, 50, 50);
    --cl-green-6: rgb(30, 30, 30);
  
    /* Textos */
    --clw-tx: rgb(255, 255, 255);
    --clbk-tx: rgb(255, 255, 255);
    --clg-tx: rgb(255, 255, 255);
    --clgreen-tx: rgb(255, 255, 255);
  }
  

  /*Cards con la seccion de informacion*/
#endeudamiento{
  background-image: url('../../img/icons/endeudamiento_dark.svg');
}

#rentabilidad{
  background-image: url('../../img/icons/rentabilidad_dark.svg');
}

#rotacion{
  background-image: url('../../img/icons/rotacion_dark.svg');
}

#liquidez{
  background-image: url('../../img/icons/liquidez_dark.svg');
}

#busqueda{
  background-image: url('../../img/icons/busqueda_dark.svg');
}

#listo{
  background-image: url('../../img/icons/listo_dark.svg');
}

#index_rotacion{
  background-image: url('../../img/icons/rotacion_indice_dark.svg');
}

#index_endeudamiento{
  background-image: url('../../img/icons/endeudamiento_indice_dark.svg');
}

#index_liquidez{
  background-image: url('../../img/icons/liquidez_indice_dark.svg');
}

#index_rentabilidad{
  background-image: url('../../img/icons/rentabilidad_indice_dark.svg');
}

#index_welcome{
    background-image: url('../../img/icons/index_welcome_dark.svg');
}