:root{
    /*Colores fondo*/
    --clw: #FFF;
    --clbk: rgb(38, 39, 41);

    --cl-grey-1: rgb(240, 240, 240);
    --cl-grey-2: rgb(230, 230, 230);
    --cl-grey-3: rgb(215, 215, 215);
    --cl-grey-4: rgb(200, 200, 200);
    --cl-grey-5: rgb(185, 185, 185);
    --cl-grey-6: rgb(170, 170, 170);
    --cl-grey-7: rgb(155, 155, 155);

    --cl-green-0: #F2D1E3ff;
    --cl-green-1: rgb(221, 151, 201);
    --cl-green-2: rgb(133, 15, 92);
    --cl-green-3: rgb(107, 12, 70);
    --cl-green-4: rgb(87, 10, 65);
    --cl-green-5: rgb(73, 6, 46);
    --cl-green-6: rgb(54, 5, 35);

    /*Textos*/
    --clw-tx: rgb(247, 247, 247);
    --clbk-tx: rgb(40, 40, 40);
    --clg-tx: rgb(70, 70, 70);
    --clgreen-tx: rgb(119, 11, 89);
}

/*Cards con la seccion de informacion*/
#endeudamiento{
    background-image: url('../../img/icons/endeudamiento_huelum.svg');
}

#rentabilidad{
    background-image: url('../../img/icons/rentabilidad_huelum.svg');
}

#rotacion{
    background-image: url('../../img/icons/rotacion_huelum.svg');
}

#liquidez{
    background-image: url('../../img/icons/liquidez_huelum.svg');
}

#busqueda{
    background-image: url('../../img/icons/busqueda_huelum.svg');
}

#listo{
    background-image: url('../../img/icons/listo_huelum.svg');
}