:root {
    /* Colores fondo */
    --clw: rgb(38, 39, 41);
    --clbk: #FFF;
  
    --cl-grey-1: rgb(55, 55, 55);
    --cl-grey-2: rgb(51, 51, 51);
    --cl-grey-3: rgb(80, 80, 80);
    --cl-grey-4: rgb(95, 95, 95);
    --cl-grey-5: rgb(110, 110, 110);
    --cl-grey-6: rgb(125, 125, 125);
    --cl-grey-7: rgb(140, 140, 140);
  
    --cl-green-0: #969696;
    --cl-green-1: #828282;
    --cl-green-2: #6e6e6e;
    --cl-green-3: #5a5a5a;
    --cl-green-4: #464646;
    --cl-green-5: #323232;
    --cl-green-6: #1e1e1e;
  
    /* Textos */
    --clw-tx: rgb(255, 255, 255);
    --clbk-tx: rgb(255, 255, 255);
    --clg-tx: rgb(255, 255, 255);
    --clgreen-tx: rgb(255, 255, 255);
  }
  

  /*Cards con la seccion de informacion*/
#endeudamiento{
  background-image: url('../../img/icons/endeudamiento_dark.svg');
}

#rentabilidad{
  background-image: url('../../img/icons/rentabilidad_dark.svg');
}

#rotacion{
  background-image: url('../../img/icons/rotacion_dark.svg');
}

#liquidez{
  background-image: url('../../img/icons/liquidez_dark.svg');
}

#busqueda{
  background-image: url('../../img/icons/busqueda_dark.svg');
}

#listo{
  background-image: url('../../img/icons/listo_dark.svg');
}

#index_rotacion{
  background-image: url('../../img/icons/rotacion_indice_dark.svg');
}

#index_endeudamiento{
  background-image: url('../../img/icons/endeudamiento_indice_dark.svg');
}

#index_liquidez{
  background-image: url('../../img/icons/liquidez_indice_dark.svg');
}

#index_rentabilidad{
  background-image: url('../../img/icons/rentabilidad_indice_dark.svg');
}

#index_welcome{
    background-image: url('../../img/icons/index_welcome_dark.svg');
}