.container-config-colors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    justify-content: center;
    align-items: center;

    padding: 100px 200px;
    gap: 30px;

    .palette{
        width: 100%;
        height: 150px;
        padding: 10px;
        background-color: var(--cl-grey-1);
        box-shadow: 5px 5px 0 var(--cl-grey-3);
        cursor: pointer;

        &:hover{
            background-color: var(--cl-grey-1);
            box-shadow: 10px 10px 0 var(--cl-grey-4);
        }

        .peletteColor{
            width: 100%;
            height: 100%;

            padding: 10px 15px;
            font-size: 28px;
            font-weight: 700;
            color: var(--clw-tx);
            font-family: var(--fuente_text);

            display: grid;
            grid-template-columns: 1fr .3fr;
            grid-template-rows: auto;

            justify-content: center;
            align-items: end;

        }
    }
}


/*Sepia and dark mode*/
.container-light-mode{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    justify-content: center;
    align-items: center;

    padding: 100px 450px;
    gap: 30px;

    .light-mode-card{
        width: 100%;
        height: 150px;
        padding: 10px;
        background-color: var(--cl-grey-1);
        box-shadow: 5px 5px 0 var(--cl-grey-3);
        cursor: pointer;

        display: grid;
        grid-template-columns: .3fr 1fr;
        grid-template-rows: auto;
        gap: 10px;

        &:hover{
            background-color: var(--cl-grey-1);
            box-shadow: 10px 10px 0 var(--cl-grey-4);
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            padding: 10px 15px;
            font-size: 30px;
            font-weight: 700;
            color: var(--clgreen-tx);
            background-color: var(--cl-grey-2);
            font-family: var(--fuente_text);
        }
    }
}


/*Diseño para la parte sepia y el modo luz*/
.custom-range {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Altura del rango */
    background-color: var(--cl-grey-3); /* Color de fondo */
    border: none; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 40px 30px;
    outline: none; /* Elimina el contorno al hacer clic */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.custom-range::-webkit-slider-runnable-track,
.custom-range::-moz-range-track {
    background-color: var(--cl-green-1);
    height: 8px;
    border-radius: 10px;
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb {
    background-color: var(--cl-green-5);
    border: none;
    width: 20px; /* Tamaño del control deslizante */
    height: 20px; /* Tamaño del control deslizante */
    border-radius: 50%; /* Control deslizante redondeado */
    -webkit-appearance: none; /* Elimina el estilo predeterminado del control deslizante */
    appearance: none;

    transition: all .1s ease-in-out;
}

.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb {
    width: 30px;
    height: 30px;
}
