.containerTables{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: column; 

    position: relative;

    height: auto;
    width: 100%;

    margin-bottom: 30px;
}

.containerColorTables{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: column; 

    position: relative;

    height: auto;
    width: 65%;

    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cl-grey-1);
}


#balance_sheet{
    width: auto; 
    height: auto; 
    margin: 10px 100px;
}

#income_statement{
    width: auto; 
    height: auto; 
    margin: 10px 100px;
}

/*Pagination*/
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;

    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(61%);
    margin: 0 0 50px 0;

    background-color: var(--cl-grey-1);
    box-shadow: 5px 5px 0px var(--cl-grey-3) ;
    padding: 10px 10px;
    border-radius: 5px;

    .numbersContainer{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        div{
            width: 45px;
            height: 45px;
            background-color: var(--cl-grey-3);
            border-radius: 4px;

            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                background-color: var(--cl-grey-4);
                box-shadow: 3px 3px 0px var(--cl-grey-5);
            }
        }
    }
}