/*
*   Aqui estan todos los estilos para la pagina del index.html
*   Tenemos los estilos de los contenedores principales.
*/

.mainContainer{
    grid-template-columns: .25fr 1fr;
}

.mainContainer-close{
    grid-template-columns: .1fr 1.3fr;
}

.mainContainerStyle{
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    padding: 30px;
}

.contenedor{
    background-color: var(--clw);
}