.mainContainer{
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: auto;

    width: 100%;
    height: 100vh;

    padding: 30px;
}

.mainContainer-close{
    grid-template-columns: .1fr 1fr;
}

.contenedor{
    background-color: var(--clw);
}